body {
  margin-top: 3.5rem;
  font-weight: 300;
}

button {
  flex: 1 25%;
  font-size: 1.7rem;
  font-weight: normal;
  border-radius: 0px;
  box-sizing: border-box;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1.5px solid teal;
  background-color: rgb(248, 248, 248);
  border-bottom: thin;
  border-right: thin;
}
.last {
  border-bottom: 1.5px solid teal;
}
.side {
  border-right: 1.5px solid teal;
  background-color: orange;
}
.clear {
  background-color: crimson;
}

.display {
  width: 100%;
  // background-color: #f0f0f0;
  background-color: rgb(248, 248, 248);
  border: 1px solid;
  height: 80px;
  font-size: 3rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.buttons {
  max-width: 360px;
  display: flex;
  flex-wrap: wrap;
}
.divide {
  font-size: 2rem;
  font-weight: normal;
}
.btn {
  flex: 1 25%;
}
.equals-operator {
  flex: 1 50%;
  background-color: teal;
}
